
.go-back__container {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;

    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

.go-back__category {
    font-family: var(--font-primary);
    text-align: center;
    vertical-align: center;

    font-style: oblique;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

.go-back__category-description {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}

.go-back__button-link {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 800;
}

.go-back__button-link:hover {
    color: var(--primary-accent-color);
}