@import url('https://fonts.cdnfonts.com/css/space-mono');
@import url('https://fonts.cdnfonts.com/css/magfire-hyena');

@import url('https://fonts.cdnfonts.com/css/roboto-mono');
@import url('https://fonts.cdnfonts.com/css/sf-mono');

@import url('https://fonts.cdnfonts.com/css/mioge');

/* main color first #ECE7E1; */

:root {
    --primary-white-color: #ECE7E1;
    --primary-dark-color: #1A1818;
    --primary-accent-color: #D91A33;

    --font-primary: 'SF Mono', sans-serif;
    --font-secondary: 'Mioge', sans-serif;
}

.frame {
    padding: 0;

    height: 100vh;
    border: 2vw solid transparent;
    background-color: var(--primary-white-color);
}

.app-container {
    border: 0.15rem solid var(--primary-dark-color)
}

