
.works__links-list {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.works__link {
    font-family: var(--font-secondary);
    font-size: 7rem;
    line-height: 0.77;

    text-transform: uppercase;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.works__link:hover{
    font-style: italic;
    color: var(--primary-accent-color);
} 

.works__project-view {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
